---
import { Image } from "astro:assets";
import RectangleMenu from "../assets/images/Rectangle9.png";
---

<div>
  <div>
    <div class="w-150 h-20 Green_color"></div>
    <div class="grid grid-cols-[1fr_1fr_1fr_3fr] gap-10">
      <a href="#om_mig" class="font-bold text-3xl -rotate-90">OM MIG</a>
      <a href="#sociale_medier" class="font-bold text-3xl -rotate-90">SOCIALE MEDIER</a>
      <a href="#kompetencer" class="font-bold text-3xl -rotate-90">KOMPETENCER</a>
    </div>
  </div>
</div>
